.topic-container {
	position: absolute;
}

.topic {
	position: absolute;
	color: #8f8d7d;
	border: 3px solid #8f8d7d;
	border-radius: 5px;
	background-color: #1d1a17;
	padding: 5px 10px;
	max-width: 200px;
	z-index: 9;
	user-select: none;
	word-break: break-word;
}

.topic:hover {
	border-color: #e8e390;
	cursor: pointer;
}

.topic.selected {
	border-color: #d2cb07;
}

.topic.editing {
	cursor: text;
}

.topic-children-container {
	position: absolute;
}

.topic-text {
	outline: none;
}

.branch-connections {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.topic-mirror {
	opacity: 0.6;
	z-index: 999;
}

.topic-drop-area {
	position: absolute;
	left: 0px;
	top: 0px;
	border: 3px solid blueviolet;
	width: calc(100% + 30px);
	height: 100%;
	pointer-events: none;
}

/* .topic-drop-area {

} */
