.topic-container {
	position: absolute;
}

.topic {
	position: absolute;
	color: #8f8d7d;
	border: 3px solid #8f8d7d;
	background-color: #1d1a17;
	padding: 5px 10px;
	max-width: 200px;
	cursor: pointer;
	z-index: 9;
}

.topic:hover {
	border-color: yellow;
}

.topic-children-container {
	position: absolute;
}

.branch-connections {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
